body {
margin: 0;
padding: 0;

}

#takeoffCanvas {
  background-color: #dddddd;
  position: absolute;
  top: 40px;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.menu {
display: block;
background: #EEEEEE;
height: 40px;
position: fixed;
width: 100%;
z-index: 1000;

}

.buttons {
  position: fixed;
list-style: none;
height: 20px;
margin: 0;
padding: 0;
}
.colors {
position: fixed;
top: 20px;
}
.buttons li {
  display: inline-block;
  background: blue;
  margin: 0;
  padding: 0;
}
.buttons li a {
  color: #000000;
  padding: 0 20px;

}
.buttons .selected {
  background: yellow;

}
img {

  display: none;
}
